{
  "presets": [
    [
      "env",
      {
        "loose": true,
        "targets": {
          "browsers": ["last 1 version"]
        }
      }
    ],
    "flow",
    "react"
  ],
  "plugins": ["transform-class-properties"]
}
